nav.nav 
    ul.nav__wrapper 
        a(href='/');     
            li 
                img.nav__icon(src='/images/home.png')   
                button.nav__menu 홈
        a(href='/');     
            li 
                img.nav__icon(src='/images/vlog.png')   
                button.nav__menu 브이로그
        a(href='/');     
            li 
                img.nav__icon(src='/images/parcel.png')
                button.nav__menu 분양  
        a(href='/');        
            li 
                img.nav__icon(src='/images/position.png')
                button.nav__menu 지역정보
        a(href='/');     
            li 
                img.nav__icon(src='/images/user.png')    
                button.nav__menu 내정보
                     
               