.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: black;
    box-shadow: 0 0 3px gray;
    z-index: 20;
    color: white;
    height: 180px;
    padding: 16px 16px;
}
.footer__contents{
    display: flex;
    align-items: center;
    justify-content: space-between;  
}
.footer__contents__image{
    width: 120px;
    height: 120px;
    border: none;
    background-color: transparent;
}
@media screen and (min-width: 1000px) {
    .footer{
        display: none;
    }
}

